@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    color: #000000;
}

header {
    font-size: 70px;
    background-color: #2A6CCF;
    margin-block: 0px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Abril Fatface", serif;
}
nav {
    background-color: #2A6CCF;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Abril Fatface", serif;
}

a {
    color: #FFFFFF;
    padding: 10px 30px;
}


h1 {
    margin: 0px;
}

.imageLogo {
    float: left;
    width: 8%;
}

.imageActivites {
    width: 15%;
    margin-right: 8%;
}

.imageHike {
    width: 15%;
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.imageHeli {
    width: 15%;
    margin-left: 0%;
    margin-right: 15%;
}

.imageAccommodation {
    width: 30%;
    margin-left: 5%;
    margin-top: 2%;
}

img {
    width: 25%;
    float: right;
    margin-right: 10%;
}

h2 {
    font-size: 60px;
    font-family: "Abril Fatface", serif;
    margin-left: 5%;
    margin-top: 5%;
}

h3 {
    font-size: 30px;
    font-family: "Zilla Slab", serif;
    margin-left: 5%;
    margin-bottom: 0%;
}

h4 {
    font-size: 30px;
    font-family: "Zilla Slab", serif;
    margin-left: 1%;
    margin-bottom: 0%;
}



div.a {
    word-wrap: normal;
    font-size: 40px;
    font-family: "Zilla Slab", serif;
    font-weight: 600px;
    margin-left: 5%;
  }

div.b {
    font-size: 60px;
    font-family: "Abril Fatface", serif;
    margin-left: 5%;
    margin-top: 5%;
    word-spacing: 70px;
}


p {
    font-size: 40px;
    font-family: "Zilla Slab", serif;
    font-weight: 600px;
    margin-left: 5%;
    width: 1000px;

}

footer {
    font-size: 20px;
    font-family: "Zilla Slab", serif;
    font-weight: 600px;
    background-color: #2A6CCF;
    color: #FFFFFF;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    word-spacing: 10px;
  }